<h1 style=color:tomato class ="text-center" >PRODUCTS</h1>
<!-- <app-product-list></app-product-list> -->

<nav class="navbar navbar-expand-sm bg-secondary navbar-dark">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
          <a routerLink="product" class="btn btn-warning" routerLinkActive="active">Product List</a>
      </li>
      <li class="nav-item">
         &nbsp; <a routerLink="create" class="btn btn-success" routerLinkActive="active">Add Product</a>
      </li>
    </ul>
  </nav>
<router-outlet></router-outlet>