<div class="container">
  <h2>Parent Component</h2>
  <p>To send whatever is entered in the text field to child component</p>
  <div>
  <h4>Pass Data:</h4>
  <input type ="text" class="=form-control" [(ngModel)]="enterName">
  <!-- interpolation single binding -->
  <input type="button"  value="send" (click)="transferData()" class="btn btn-primary" >
  </div>
<br>
<div>
<h4>Pass Chat</h4>
  <input type ="text" class="=form-control" [(ngModel)]="enterChat">
  <input type="button"  value="chat" (click)="transferChat()" class="btn btn-success" >
</div>
</div>
<div>
  <h4>Received from child:{{value}}</h4>
</div>
<app-home [parentData]="parentData"></app-home>
<app-chat [parentChat]="parentChat"></app-chat>
<app-about (sendData)="sendData($event)"></app-about>
<!-- calling ist own event -->

