<div>
    <h2>Product List </h2>
    <table border="2">
        <thead>
            <th>CartId</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Image</th>
        </thead>

        <tr *ngFor="let product of carts">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.price}}</td>
            <td>{{product.image}}</td>
        </tr>
    </table>
</div>

